body {
  background-color: gold;
}

.countdown {
  margin-right: 0;
  margin-left: auto;
  font-size: 1.6rem;
  text-align: right;
  position: absolute;
  right: 1em;
  top: 0;
}

.countdown img {
  max-width: 250px;
}

.image img {
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 52vh;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.text {
  font-size: .7em;
  font-family: 'EB Garamond', serif;
  line-height: 1.3em;
  font-weight: 400;
  color: black;
}

.text p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: underline;
}
.row { 
  display: flex;
  
  margin: 4rem 0;
  align-items: center;
  flex-direction: column;
 }

 .space-between {
  justify-content: space-between;
 }

 .center {
  justify-content: center;
 }

.left {
  justify-content: flex-start;
 }

.text svg, .penis img {
  display: inline-block;
  width: 90vw;
}

.wrapper {
  padding-top: 10em;
}

@media screen and (min-width: 900px){
  .row {
    height: 27vh;
    flex-direction: row;
    align-items: flex-start;
    height: 34vh;
    margin: 0 1rem;
  }
  .text svg, .penis img {
    display: inline-block;
    width: 33vw;
  }
  .wrapper {
    padding-top: 0;
  }
}
