body {
  background-color: gold;
}

img {
  width: 100%;
  height: auto;
}

#demo {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

p {
  font-family: 'EB Garamond', serif;
  line-height: 1.3em;
  font-weight: 400;
  color: black;

  padding-bottom: 10px;
  position: absolute;
  bottom: 5px;
  max-width: 90%;
  font-size: 1.2em;

  text-align: center;

}

a{
  color: black;
  text-decoration: underline;
}

@media screen and (min-width: 900px){
  p {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    font-size: 1.5em;
  }
  
  #demo {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
}
