body {
  background-color: green;
}

#countdown {
  font-size: 1.6rem;
  text-align: right;
  position: absolute;
  right: 1em;
  top: 0;
}

.text {
  font-size: .7em;
  font-family: 'EB Garamond', serif;
  line-height: 1.3em;
  font-weight: 400;
  color: black;
}

.text p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: underline;
}
.row { 
  display: flex;
  
  margin: 4rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

.text svg, .penis img {
  display: inline-block;
  width: 90vw;
}

@media screen and (min-width: 900px){
  .row {
    height: 27vh;
    flex-direction: row;
    align-items: flex-start;
    height: 27vh;
    margin: 0 1rem;
  }
  .text svg, .penis img {
    display: inline-block;
    width: 33vw;
  }
}
